[submodule "vendor/gemini-cli"]
	path = vendor/gemini-cli
	url = https://github.com/jmikedupont2/gemini-cli
[submodule "vendor/solfunmeme-dioxus"]
	path = vendor/solfunmeme-dioxus
	url = https://github.com/meta-introspector/solfunmeme-dioxus
